.slideshow-container {
  width: 100%;
  max-width: 1100px;
  margin: 1.5rem auto;
  position: relative;
}

.slide {
  width: 100%;
  display: none;
  border-radius: 6px;
}

.slide {
  animation: fade 1.2s;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}
