---
layout: page
---

<div class="member-profile">
  <img src="{{ page.image | relative_url }}" class="profile-img">

  <h1>{{ page.name_ja }}</h1>
  <p>{{ page.position }} {{ page.year }}</p>

  {% if page.research_tags %}
  <div class="tags">
    {% for tag in page.research_tags %}
      <span class="tag tech">{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <div class="bio">
    {{ page.bio_ja }}
  </div>

  {% if page.author_key %}
<div class="section">
  <h2>Publications</h2>

  {% assign my_pubs = site.data.publications | sort: "year" | reverse %}

  <ul>
  {% for pub in my_pubs %}
    {% for key in page.author_key %}
      {% if pub.authors contains key %}
        <li class="publication-item">
          {{ pub.authors }},
          “{{ pub.title }},”
          <strong>{{ pub.venue }}</strong>,
          {{ pub.year }}.
          {% if pub.doi %}
            <a href="{{ pub.doi }}" target="_blank">[DOI]</a>
          {% endif %}
        </li>
        {% break %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>

</div>
{% endif %}

  {% if page.scholar %}
    <p><a href="{{ page.scholar }}">Google Scholar</a></p>
  {% endif %}
</div>