---
layout: page
---

<div class="member-profile">
  <img src="{{ page.image_prifile | relative_url }}" class="profile-img">

  {% if page.gallery_count %}
  <div class="member-gallery">
    {% for i in (1..page.gallery_count) %}
      <img src="{{ '/assets/images/members/' 
                  | append: page.id 
                  | append: '_gallery/' 
                  | append: page.id 
                  | append: i 
                  | append: '.png' 
                  | relative_url }}"
          alt="">
    {% endfor %}
  </div>
  {% endif %}

  <h1>{{ page.name_ja }}</h1>
  <p>{{ page.position }} {{ page.year }}</p>

  {% if page.research_tags %}
  <div class="tags">
    {% for tag in page.research_tags %}
      <span class="tag tech">{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <div class="bio">
    {{ page.bio_ja }}
  </div>

  {% if page.author_key %}
  <div class="section">
    <h2>Publications</h2>

    {% assign my_pubs = site.data.publications | sort: "year" | reverse %}

    <ul>
    {% for pub in my_pubs %}
      {% for key in page.author_key %}
        {% if pub.authors contains key %}
          <li class="publication-item">
            {{ pub.authors }},
            “{{ pub.title }},”
            {{ pub.venue }},
            {{ pub.year }}.
            {% if pub.doi %}
              <a href="{{ pub.doi }}" target="_blank">[DOI]</a>
            {% endif %}
          </li>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>

  </div>
  {% endif %}

  {% if page.author_key %}
  <div class="section">
    <h2>Presentations</h2>

    {% assign pres_sorted = site.data.presentations | sort: "year" | reverse %}

    <ul>
    {% for pres in pres_sorted %}
      {% assign authors_down = pres.authors | downcase %}
      {% for key in page.author_key %}
        {% assign key_down = key | downcase %}
        {% if authors_down contains key_down %}
          <li class="publication-item">
            {{ pres.authors }},
            “{{ pres.title }},”
            {{ pres.venue }},
            {{ pres.year }}.
            {% if pres.pages %}
              pp.{{ pres.pages }}.
            {% endif %}
            {% if pres.doi %}
              <a href="{{ pres.doi }}" target="_blank">[DOI]</a>
            {% endif %}
          </li>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>

  </div>
  {% endif %}

  {% if page.scholar %}
    <p><a href="{{ page.scholar }}">Google Scholar</a></p>
  {% endif %}

{{ content }}

</div>